version: "3"
services:
  frontend:
    build:
      dockerfile: Dockerfile
      context: ./
    volumes:
      - /app/node_modules
      - ./:/app
    ports:
      - 80:80
    stdin_open: true
    extra_hosts:
      - "host.docker.internal:host-gateway"