.main-menu {
    box-sizing: border-box;
    min-width: 0px;
    visibility: visible;
    padding: 0px;
    margin: 0px auto;
    width: 720px;
    display: flex;
}

.main-menu-item {
    list-style: none;
}