.novel-cover-img{
    height: 180px;
    width: 150px;
}

.novel-title{
    font-size: 32px;
    font-weight: 550;
    color: #323232;
    word-wrap:break-word;
}

.novel-author{
    font-size: 17px;
    font-weight: 400;
    overflow : hidden;
    white-space : nowrap;
    text-overflow : ellipsis;
}
