.search-bar {

    margin-top: 27.5px;
    padding-left: 800px;

    display: flex;
}

.search-bar__box{
    height: 25px;
    width: 120px;

    padding: 2px 4px 2px 4px;
    border: 1px solid #dcdcdc;
}

.search-bar__btn{
    padding-left: 10px;
}

.search-bar__btn__img{
    height: 25px;
    width: 25px;
    cursor: pointer;
}